#textdomain wesnoth-The_Sojournings_of_Grog

[unit_type]
    id=Desert Fighter
    name= _ "Desert Fighter"
    race=elf
    image="units/elves-desert/fighter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=34
    movement_type=woodland
    #desert elves move fast across the sands, but are not used to forests
    #they are also a bit faster in caves
    [movement_costs]
        sand=1
        forest=2
        cave=2
        frozen=3
    [/movement_costs]
    [defense]
        sand=40
        forest=50
    [/defense]
    movement=5
    experience=40
    level=1
    alignment=lawful
    advances_to=Desert Captain,Desert Hero
    cost=14 # was 15
    usage=fighter
    description= _ "Desert Fighters make up the bulk of the Quenoth warriors. They are trained in both sword and bow, though like most of their kin, they prefer swordplay to archery. These Elves are deft of foot, and fight best in the open sands."
    die_sound={SOUND_LIST:ELF_HIT}
    [attack]
        name=sword
        description= _"sword"
        type=blade
        range=melee
        damage=6
        number=4
        icon=attacks/sword-elven.png
    [/attack]
    [attack]
        name=bow
        description= _"bow"
        type=pierce
        range=ranged
        damage=2
        number=3
        icon=attacks/bow-elven.png
    [/attack]
    {DEFENSE_ANIM_RANGE "units/elves-desert/fighter-defend.png" "units/elves-desert/fighter.png" {SOUND_LIST:ELF_HIT} melee }
    {DEFENSE_ANIM_RANGE "units/elves-desert/fighter-bow-defend.png" "units/elves-desert/fighter-bow.png" {SOUND_LIST:ELF_HIT} ranged }
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=100
            image="units/elves-desert/fighter-idle-[1~6,5~10,9,11,12].png:[100*2,125,150,175,200*2,400,175,200,250,400,150*3]"
        [/frame]
    [/idle_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        start_time=-445
        missile_start_time=-150
        [missile_frame]
            image="projectiles/missile-n.png:150"
            image_diagonal="projectiles/missile-ne.png:150"
        [/missile_frame]
        [frame]
            image="units/elves-desert/fighter-bow.png:65"
        [/frame]
        [frame]
            image="units/elves-desert/fighter-bow-attack[1~4].png:[75*2,100,130]"
        [/frame]
        [frame]
            image="units/elves-desert/fighter-bow.png:65"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -380}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-175
        [frame]
            image="units/elves-desert/fighter.png:75"
        [/frame]
        [frame]
            image="units/elves-desert/fighter-melee-[1,2].png:[200,150]"
        [/frame]
        [frame]
            image="units/elves-desert/fighter.png:25"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
